@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.forBurger {
  overflow: hidden;
}

.container {
  max-width: 1436px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  background-color: #ffcc34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 50px;
  border-radius: 8px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header__top {
  background-color: #efefee;
  color: #2f3131;
  font-size: 16px;
  line-height: 19px;
}

.header__top-body {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-item:not(:last-child) {
  margin-right: 50px;
}

.header__top-link--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-link--icon::before {
  content: "";
  position: relative;
  right: 8px;
  background: url(/img/icon-header.svg) center/100% no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.header__bottom {
  font-weight: 700;
  font-size: 18px;
}

.header__bottom-body {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-body-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 21px;
}

.header__bottom-logo {
  margin-right: 40px;
}

.header__bottom-burger {
  display: none;
}

.header__bottom-label {
  max-width: 162px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 15px;
}

.header__bottom-phone {
  margin-right: 40px;
}

.main-menu {
  background-color: #00728f;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding: 15px 0;
  color: #ffffff;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero {
  background: url(/img/hero-bg.png) 0 50%/cover no-repeat;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 120px 0 100px 0;
}

.hero__box {
  max-width: 350px;
}

.hero__title::after {
  content: "";
  top: -20px;
  position: relative;
  width: 80%;
  height: 3px;
  background-color: #ffcc34;
  display: inline-block;
}

.hero__subtitle {
  font-size: 18px;
  line-height: 19px;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #2f3131;
}

.form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 7px;
}

.form__title {
  margin-bottom: 25px;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #2f3131;
}

.form__input {
  display: block;
  padding: 15px 0 15px 10px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #979797;
  margin-bottom: 15px;
}

.form__button {
  width: 100%;
}

.quality {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2f3131;
  position: relative;
  top: 60px;
}

.quality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  padding: 20px;
}

.quality__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 260px;
}

.quality__img {
  margin-right: 20px;
}

.lists {
  background: #efefee;
}

.lists__body {
  padding: 150px 20px;
  max-width: 1550px;
  margin: 0 auto;
}

.lists__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lists__items {
  background: #fff;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px;
}

.lists__item {
  margin-left: 5px;
}

.lists__img img {
  max-width: 100%;
}

.lists__list-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  padding: 20px 0;
}

.lists__list {
  font-size: 18px;
  line-height: 30px;
  color: #2f3131;
}

.facts__title {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 170px;
}

.facts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.facts__numbers {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #2f3131;
  background: #ffcc34;
  -webkit-box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.facts__numbers:not(:last-child) {
  margin-right: 50px;
}

.facts__numbers span {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #2f3131;
}

.facts__text {
  max-width: 230px;
}

.facts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.facts__subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #2f3131;
}

.facts__label {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f3131;
  max-width: 230px;
}

.numbers {
  background: #00728f;
  color: #fff;
}

.numbers__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
}

.numbers__item {
  margin: 0 auto;
  padding: 20px 0 60px 0;
}

.numbers__number {
  font-weight: 900;
  font-size: 70px;
  line-height: 82px;
  text-align: center;
}

.numbers__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
}

.benefits {
  background-color: #efefee;
}

.benefits__title {
  text-align: center;
  margin-bottom: 50px;
}

.benefits__body {
  padding: 80px 0;
}

.benefits__items {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__item {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr minmax(40px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(40px, auto)/1fr;
}

.benefits__img {
  margin-bottom: 25px;
}

.benefits__text {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #2f3131;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.client-swiper__title {
  margin-bottom: 50px;
  text-align: center;
}

.client-swiper {
  margin: 100px 0;
}

.client-slider {
  padding: 0px 0 0px 0;
}

.client-slider__wrapper {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.treaty {
  background-color: #efefee;
}

.treaty__title {
  text-align: center;
  margin-bottom: 50px;
}

.treaty__body {
  max-width: 1150px;
  padding: 100px 0;
}

.treaty__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (400px)[2];
      grid-template: repeat(2, 1fr)/repeat(2, 400px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.treaty__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.treaty__column:not(:last-child) {
  margin-bottom: 50px;
}

.treaty__column-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 5px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.treaty__column-subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.treaty__img {
  margin-right: 20px;
  position: relative;
}

.treaty__img img {
  max-width: 100%;
}

.treaty__label {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  max-width: 500px;
}

.client-slider__image img {
  max-width: 100%;
  max-height: 500px;
}

.client__title {
  text-align: center;
}

.works-swiper__title {
  text-align: center;
  margin-top: 30px;
}

.works-slider__wrapper {
  margin: 60px 0;
}

.works-slider__image {
  position: relative;
  padding: 0 0 100% 0;
}

.works-slider__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.news {
  background-color: #EFEFEE;
}

.news__title {
  text-align: center;
  padding-top: 30px;
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}

.news__content {
  max-width: 600px;
  position: relative;
}

.news__content img {
  width: 600px;
}

.news__content p {
  position: absolute;
  background-color: #07627D;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  bottom: -30px;
  right: -30px;
  padding: 10px;
  min-height: 150px;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.news__tab {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
  cursor: pointer;
}

.news__tab--bold {
  font-weight: 800;
}

.news__tab--bold::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px 3px 0;
  border-radius: 50%;
  background-color: black;
}

@media (max-width: 1581px) {
  .lists__body {
    max-width: 1400px;
  }
}

@media (max-width: 1383px) {
  .lists__items {
    background-color: inherit;
  }
  .lists__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 20px;
  }
  .lists__item {
    margin: 0 80px;
  }
  .lists__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .lists__box {
    background: #fff;
    padding: 40px;
    border-radius: 13px;
  }
  .lists__box:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 1068px) {
  .lists__item {
    margin: 0 30px;
  }
  .lists__box {
    padding: 40px 20px;
  }
  .benefits__items {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (250px)[2];
        grid-template: repeat(2, 1fr)/repeat(2, 250px);
  }
  .treaty__title {
    font-size: 40px;
  }
  .client-swiper__title {
    font-size: 38px;
  }
}

@media (max-width: 1000px) {
  .header__top {
    font-size: 14px;
  }
  .header__bottom {
    font-size: 14px;
  }
  .main-menu {
    font-size: 14px;
  }
  .header__bottom-button {
    padding: 15px 30px;
  }
  .header__bottom-logo img {
    max-width: 130px;
  }
  .numbers__number {
    font-size: 55px;
  }
  .numbers__text {
    font-size: 20px;
  }
}

@media (max-width: 922px) {
  .lists__item {
    margin: 0 10px;
  }
  .lists__list-title {
    font-size: 20px;
  }
  .lists__li {
    font-size: 15px;
    line-height: 25px;
  }
  .benefits__title {
    font-size: 35px;
  }
  .treaty__title {
    font-size: 35px;
  }
  .treaty__columns {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .treaty__column {
    margin: 0 auto;
  }
  .works-swiper__title {
    font-size: 40px;
  }
}

@media (max-width: 795px) {
  .header__top-item:not(:last-child) {
    margin-right: 20px;
  }
  .header__bottom-logo {
    margin-right: 20px;
  }
  .quality__item {
    font-size: 11px;
  }
  .quality__img img {
    max-width: 50px;
  }
  .header__top {
    font-size: 12px;
  }
  .header__bottom {
    font-size: 10px;
  }
  .main-menu {
    font-size: 12px;
  }
  .header__bottom-button {
    padding: 10px 20px;
  }
  .numbers__items {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 1fr)/1fr;
  }
  .treaty__title {
    font-size: 30px;
  }
}

@media (max-width: 725px) {
  .lists__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__title {
    font-size: 35px;
  }
  .form__title {
    font-size: 20px;
  }
  .header__bottom-logo img {
    max-width: 90px;
  }
  .treaty__title {
    font-size: 25px;
  }
  .client-swiper__title {
    font-size: 34px;
  }
  .treaty__column-title {
    font-size: 17px;
  }
  .treaty__column-subtitle {
    font-size: 15px;
  }
  .treaty__label {
    font-size: 30px;
  }
  .works-swiper__title {
    font-size: 35px;
  }
}

@media (max-width: 585px) {
  .works-swiper__title {
    font-size: 30px;
  }
  .hero {
    background-position: 10% 50%;
  }
  .client-swiper__title {
    font-size: 28px;
  }
  .header__top {
    display: none;
  }
  .header__top-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__top-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__bottom-label {
    font-size: 16px;
  }
  .header__bottom-logo img {
    max-width: 120px;
  }
  .header__bottom-phone {
    display: none;
  }
  .main-menu {
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 60px 30px 30px 30px;
  }
  .main-menu._active {
    left: 0;
  }
  .main-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    line-height: 50px;
  }
  .form {
    display: none;
  }
  .header__bottom-burger {
    z-index: 5;
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
  }
  .header__bottom-burger::before, .header__bottom-burger::after,
  .header__bottom-burger span {
    left: 0;
    width: 100%;
    height: 10%;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #00728f;
  }
  .header__bottom-burger::before, .header__bottom-burger::after {
    content: "";
  }
  .header__bottom-burger::before {
    top: 0;
  }
  .header__bottom-burger::after {
    bottom: 0;
  }
  .header__bottom-burger span {
    top: 50%;
  }
  .header__bottom-burger._active:before, .header__bottom-burger._active:after,
  .header__bottom-burger._active span {
    background: #000;
  }
  .header__bottom-burger._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__bottom-burger._active::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__bottom-burger._active::after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__bottom-button {
    display: none;
  }
  .quality {
    margin: 0 -20px;
    top: 300px;
  }
  .quality__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quality__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .quality__text {
    font-size: 15px;
  }
  .lists {
    margin-top: 200px;
  }
  .lists__item {
    max-width: 300px;
  }
  .benefits__items {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (250px)[1];
        grid-template: repeat(4, 1fr)/repeat(1, 250px);
  }
  .benefits__title {
    font-size: 25px;
  }
  .treaty__column-title {
    font-size: 15px;
  }
  .treaty__column-subtitle {
    font-size: 13px;
  }
  .treaty__label {
    font-size: 25px;
    padding-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */